/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.space-between {
    justify-content: space-between;
}

/* !header */

/* .navbar > * {
    flex-basis: 20%;
    padding: 10px 0;
    background-color: blue;
}

.navbar-logo {
     flex-grow: 1;
     text-align: center;
}

.navbar-icon {
    text-align: right;
} */
header {
    background-color: #FF6900;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.flex li {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 10%;
    padding: 10px;
    height: 3rem;
}

.icon {
    color: white;
}

/* !Main */
main{
    padding-top: 90px;
}

.col{
    flex-basis: calc(100% / 3);
    padding: 1%;
}

.item{
    position: relative;
}

.item:hover .item-image-hover {
    display: inline-block;
}

.item img{
    width: 100%;
}

.price{
    color: red;
    font-weight: bold;
}

.label{
    position: absolute;
    bottom: 10%;
}

.discount,
.sostenible{
    display: inline-block;
    color: white;
    font-weight: bold;
}

.discount{
    background-color: red;
    margin: 1%;
}

.sostenible{
    background-color: green;
    margin: 1%;
}

.heart {
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 3rem;
    color: black;
}

.heart:hover {
    color: red;
}

/* images' changing */
.item-image-hover {
    display: none;
}

.item:hover .item-image {
    display: none;
}

/* !footer */
footer {
    background-color: #1A1A1A;
    color: white;
    padding: 20px 0;
}

h4 {
    font-size: 25px;
    margin-bottom: 5px;
}