/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.space-between {
    justify-content: space-between;
}

/* !header */

/* .navbar > * {
    flex-basis: 20%;
    padding: 10px 0;
    background-color: blue;
}

.navbar-logo {
     flex-grow: 1;
     text-align: center;
}

.navbar-icon {
    text-align: right;
} */
header {
    background-color: #FF6900;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.flex li {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 10%;
    padding: 10px;
    height: 3rem;
}